
= form_for @medication do |m|
  %br
  = m.label :name
  = m.text_field :name
  %br
  = m.label :description
  = m.text_field :description
  %br
  = m.label :cost
  = m.text_field :cost
  %br
  = m.submit
  %br
  = link_to "Cancel", :back
  







  