= link_to "Home", root_path
= link_to :back

= form_for @medication do |m|
  %br
  = m.label :name
  = m.text_field :name
  %br
  = m.label :description
  = m.text_field :description
  %br
  = m.label :cost
  = m.text_field :cost
  %br
  = m.submit
  







  