<%= link_to "Add Medication",
  new_hospital_patient_medication_path(@patient) %>

      <br>
<h4> Existing Medications:</h4>

      <br>

<% @medications.each do |medication| %>

<%= link_to "View Medication",
  medication_path(@hospital, patient, medication) %>

ID: <%= medication.id %>
Name: <%= medication.name %>
Description: <%= medication.description %>
Patient ID: <%= medication.patient_id %>
Hospital ID: <% medication.hospital_id %>
Cost: <%= medication.cost %>
Creation Date: <%= medication.created_at %>
Update Date: <%= medication.updated_at %>

<% end %>

<%= link_to "Return",
  patients_path %>

<%= link_to :back %>



