%br
%h1
%h1 Current Medications
%br
/ = link_to :back
%br 
=link_to "Create Medication", new_medication_path, class: "btn btn-primary"

= form_tag medications_path, method: :get, class: "navbar-form", role: "search" do
  .input-group 
  = text_field_tag 'q', params[:q], class: "form-control", id: "srch-term", placeholder: "Search Medications"
  = submit_tag "Search"
%br
%br  
/ = render 'form'
- @medications.each do |medication|
  %ul.dl-horizontal
  / %dt Name 
  = link_to medication.name, medication_path(medication) #{medication.name}
  / = link_to 'View Medication', medication_path(medication), class: "btn btn-info" 
  %br
  %br
  

 