%br
%h1
All Medications
%br
= link_to :back
%br 
=link_to "Create Medication", new_medication_path

= form_tag medications_path, method: :get, class: "navbar-form", role: "search" do
  .input-group 
  = text_field_tag 'q', params[:q], class: "form-control", id: "srch-term", placeholder: "Search Medications"
  = submit_tag "Search"
%br
%br 
/ = render 'form'
- @medications.each do |medication|
  = link_to 'View Medication', medication_path(medication) 
  / ID: 
  / = "#{medication.id}"
  %br
  Name: 
  ="#{medication.name}"
  %br
  %br
  / Description: 
  / ="#{medication.description}"
  / Patient ID:
  / ="#{medication.patient_id}"
  / Hospital ID:
  / ="#{medication.hospital_id}"
  / Price: 
  / = "#{medication.cost}"
  / Creation Date:
  / ="#{medication.created_at}"
  / Update Date:
  / ="#{medication.updated_at}"
  

 