=link_to "Home", root_path

= @medication.id
%br
= @medication.name
%br
= @medication.description
%br
= @medication.patient_id
%br
= @medication.hospital_id
%br
= @medication.cost
%br
= @medication.created_at
%br
= @medication.updated_at
%br
= link_to "Edit", edit_medication_path(@medication)
%br
= link_to "Delete", medication_path(@medication), method: :delete
%br
