%h1 
  = @medication.name
%br
Name:
= @medication.name
%br
Description:
= @medication.description
%br
Cost:
= @medication.cost
%br
%br

%span.btn-group
  = link_to "Edit", edit_medication_path(@medication), class: "btn btn-primary"
  %br
  %br
  = link_to "Delete", medication_path(@medication), method: :delete, class: "btn btn-primary"
  %br
  %br
  = link_to "Back", medications_path, class: "btn btn-primary"
