Patient Status:

= (@patient.workflow_state.capitalize.humanize)
%br

- if @patient.waiting?
  = link_to "Check Up", 'javascript:void(0);', class: 'check-up-patient', patient_id: @patient.id 
  = link_to "X Ray",'javascript:void(0);', class: 'x-ray-patient', patient_id: @patient.id
  = link_to "Surgery", 'javascript:void(0);', class: 'surge-patient', patient_id: @patient.id
  = link_to "Leaving", 'javascript:void(0);', class: 'leave-patient', patient_id: @patient.id
%br
- if @patient.checking_up?
  = link_to "X Ray", 'javascript:void(0);', class: 'x-ray-patient', patient_id: @patient.id
  = link_to "Surgery", 'javascript:void(0)', class: 'surge-patient',
    patient_id: @patient.id
  = link_to "Billing", 'javascript:void(0)', class: 'bill-patient', patient_id: @patient.id
  = link_to "Leaving", 'javascript:void(0)', class: 'leave-patient', patient_id: @patient.id

- if @patient.x_raying?
  = link_to "Surgery", 'javascript:void(0)', class: 'surge-patient', patient_id: @patient.id
  = link_to "Billing", 'javascript:void(0)', class: 'bill-patient', patient_id: @patient.id
  = link_to "Leaving", 'javascript:void(0)', class: 'leave-patient', patient_id: @patient.id

- if @patient.surged?
  = link_to "Billing", 'javascript:void(0)', class: 'bill-patient', patient_id: @patient.id

- if @patient.billing?
  = link_to "Leaving", 'javascript:void(0)', class: 'leave-patient', patient_id: @patient.id 































