<%= link_to "Add Patient", new_patient_path(@hospital) %>
<br>
<h4>Existing Patients:</h4>
<br>

<% @patients.each do |patient| %>

  <%= link_to "View Patient", patients_path(@hospital, patient) %>

  First Name: <%= patient.first_name %> 
  <br>
  Last Name: <%= patient.last_name %>
  <br>
  Date of Birth: <%= patient.date_of_birth %>
  <br>
  Description: <%= patient.description   %>
  <br>
  Gender: <%= patient.gender %> 
  <br>
  Blood Type: <%= patient.blood_type %>
  <br>
  <br>


<% end %>

<%= link_to "Return", hospitals_path %>