= link_to "Add Patient", new_hospital_patient_path(@hospital)
%br
%h2 Existing Patients:
%br

%input.patient-search{type:"text", placeholder: "Search Patients"}
%input.hospital-id{type:"hidden", name:"hospital_id", value: @patients.first.hospital_id}
%button.search-patients Search


/ = form_tag hospital_patients_path, method: :get, class: "navbar-form", role: "search" do
/   .input-group 
/   = text_field_tag 'q', params[:q], class: "form-control", id: "srch-term", placeholder: "Search Patients"
/   =submit_tag "Search"


/ .input-group-btn
/   %button.btn.btn-default{:style => "width:40px;"}
/     %i.glyphicon.glyphicon-search

%br
%br 
- @patients.each do |patient|
  %li{class: "search-index{index.id}"}
  = link_to "View Patient", hospital_patient_path(@hospital, patient)
  %br
  First Name: 
  = patient.first_name
  %br
  Last Name:
  = patient.last_name
  %br
  Patient Status: 
  %br
  = patient.workflow_state.capitalize
  %br
