.container
  .row
    %ul.dl-horizontal
      %dt First Name 
      = @patient.first_name
      %br
      %dt Last Name
      = @patient.last_name
      %br
      %dt DOB
      = @patient.date_of_birth
      %br
      %dt Description
      = @patient.description
      %br
      %dt Gender
      = @patient.gender
      %br
      %dt Blood Type
      = @patient.blood_type
      %br
      %dt Medications
      - @patient.medications.each do |m|
        = m.name

      %br
      %dt Physician
      - @patient.doctors.each do |d|
        = d.name
      %br
      %br

      =link_to "Edit", edit_hospital_patient_path, class: "btn btn-info" 
      %br
      =link_to "Delete", hospital_patient_path, method: :delete, class: "btn btn-info" 

