=link_to "Home", root_path

%br
First Name: 
=@patient.first_name
%br
Last Name:
= @patient.last_name
%br
DOB:
= @patient.date_of_birth
%br
Description:
= @patient.description
%br
Gender:
= @patient.gender
%br
Blood Type:
= @patient.blood_type
%br
Patient Medications:
= @patient.medications.inspect
%br
=link_to "Edit", edit_hospital_patient_path 
%br
=link_to "Delete", hospital_patient_path
%br 
/ =link_to "View Medications", medications_path(@hospital, @patient)
/ - @medication.each do |m|






