=link_to "Home", root_path

%br
First Name: 
=@patient.first_name
%br
Last Name:
= @patient.last_name
%br
DOB:
= @patient.date_of_birth
%br
Description:
= @patient.description
%br
Gender:
= @patient.gender
%br
Blood Type:
= @patient.blood_type
%br
Patient Medications:
= @patient.medications.inspect
%br
=link_to "Edit", edit_hospital_patient_path 
%br
=link_to "Delete", hospital_patient_path
%br 

Patient Status:
= (@patient.workflow_state)
  - if @patient.waiting? 
    =link_to "Check Up",patient_checking_up_hospital_patient_path(@patient), method: :patch
    =link_to "X-Ray", patient_x_raying_hospital_patient_path(@patient), method: :patch
    =link_to 










