<h1>Hospital</h1>

<%= link_to "ADD NEW HOspital", new_hospital_path %>

<% @hospitals.each do |h| %>

    <%= h.name %>
    <%= h.address %>
    <%= h.city %>
    <%= h.state %>
    <%= h.zip %>
    <%= h.specialty %>


<%=link_to "View", hospital_path(h) %>

<% end %>