.container
  .row
    .col-md-12.text-center
      %h1 Hospitals
%br

= form_tag hospitals_path, method: :get, class: "navbar-form", role: "search" do
  .input-group 
  = text_field_tag 'q', params[:q], class: "form-control", id: "srch-term", placeholder: "Search Hospitals"
  = submit_tag "Search"
= link_to "Add New Hospital", new_hospital_path, class: "btn btn-primary"
%br
%br
 

- @hospitals.each do |h|
  %ul.dl-horizontal
  = image_tag h.photo
  = link_to h.name, hospital_path(h)
= will_paginate @hospitals, renderer: BootstrapPagination::Rails


  / %dt Name:    
  / %dd #{h.name}
  / %dt Address:    
  / %dd #{h.address}
  / %dt City: 
  / %dd #{h.city}
  / %dt State: 
  / %dd #{h.state}
  / %dt Zip: 
  / %dd #{h.zip} 
  / %dt Specialty:    
  / %dd #{h.specialty}
  / = link_to "View", hospital_path(h), class: "btn btn-info" 
  / %br
  / %br



/ .row
/   .col-sm-6.col-md-4
/     .thumbnail
/       %img{:alt => "...", :src => "..."}
/         .caption
/           %h3 Thumbnail label
/           %p ...
/           %p
/             %a.btn.btn-primary{:href => "#", :role => "button"} Button
/             %a.btn.btn-default{:href => "#", :role => "button"} Button