<h1>Hospitals</h1>

<%= link_to "ADD NEW HOspital", new_hospital_path %>

<% @hospitals.each do |h| %>

Name:    <%= h.name %>
    <br>
Address:    <%= h.address %>
    <br>
City:    <%= h.city %>
    <br>
State:    <%= h.state %>
    <br>
Zip:    <%= h.zip %>
    <br>
Specialty:    <%= h.specialty %>
    <br>


<%=link_to "View", hospital_path(h) %>

<% end %>