%h1 Hospitals
%br

= form_tag hospitals_path, method: :get, class: "navbar-form", role: "search" do
  .input-group 
  = text_field_tag 'q', params[:q], class: "form-control", id: "srch-term", placeholder: "Search Hospitals"
  = submit_tag "Search"
= link_to "ADD New Hospital", new_hospital_path
%br
%br


- @hospitals.each do |h|
  = link_to "View", hospital_path(h)
  Name:    #{h.name}
  %br
  Address:    #{h.address}
  %br
  City:    #{h.city}
  %br
  State:    #{h.state}
  %br
  Zip:    #{h.zip}
  %br
  Specialty:    #{h.specialty}
  %br
  %br
   
