.container
  .row
    .col-md-12.text-center
      %h1 Hospitals
%br

= will_paginate @hospitals, renderer: BootstrapPagination::Rails
%br


= form_tag hospitals_path, method: :get, class: "navbar-form", role: "search" do
  .input-group 
    = text_field_tag 'q', params[:q], class: "form-control", id: "srch-term", placeholder: "Search Hospitals"
    = submit_tag "Search"
= link_to "Add New Hospital", new_hospital_path, class: "btn btn-primary"
%br
%br
 

- @hospitals.each do |h|
  .col-sm-4
    = image_tag h.photo
    %br
    = link_to h.name, hospital_path(h)
  %br
  %br



= will_paginate @hospitals, renderer: BootstrapPagination::Rails


  
