= form_for @doctor do |f|
    / - @doctor.errors.any?
    = f.label :name
    = f.text_field :name
    %br
    = f.label :practice
    = f.text_field :practice
    %br
    = f.submit


/ -@patients.each do |p|
/     check_box_tag 'patient[doctor_ids][]', p.id, @patient.doctors.include?(p)


= link_to "Cancel", :back 