%br
%br
%h1
All Doctors
%br
%br
= form_tag doctors_path, method: :get, class: "navbar-form", role: "search" do
  .input-group 
  = text_field_tag 'q', params[:q], class: "form-control", id: "srch-term", placeholder: "Search Doctors"
  = submit_tag "Search"

= link_to "Add Doctor", new_doctor_path, class: "btn btn-primary"
%br
- @doctors.each do |doctor|
  %ul.dl-horizontal
  %dd Dr. #{doctor.name}, MD
  %dt Practice
  %dd #{doctor.practice}
  = link_to 'View Doctor', doctor_path(doctor), class: "btn btn-info"
  %br
  %br