%h1 Our Doctors
%br
%br
= form_tag doctors_path, method: :get, class: "navbar-form", role: "search" do
  .input-group 
  = text_field_tag 'q', params[:q], class: "form-control", id: "srch-term", placeholder: "Search Doctors"
  = submit_tag "Search"
%br
%br
= link_to "Add Doctor", new_doctor_path, class: "btn btn-primary"
%br
%br
- @doctors.each do |doctor|
  .col-sm-4
    = link_to doctor.name, doctor_path(doctor) 
    %dt Practice
    %dd #{doctor.practice}
    = image_tag doctor.photo  
    %br
    %br

= will_paginate @doctors, renderer: BootstrapPagination::Rails