%h1 Individual Doctor Card
%br 

%h5 Doctor Name:
= @doctor.name 
%br
%h5 Doctor Practice:
= @doctor.practice
%br

%br
= link_to "Edit", edit_doctor_path(@doctor), class: "btn btn-primary"
= link_to "Back", doctors_path, class: "btn btn-primary"

= link_to "Delete", doctor_path, method: :delete, class: "btn btn-primary"

%br

%h4 Current Rating
- @ratings.each do |r|
  Score:
  =r.score
  %br
  Comment:
  =r.comment
  %br



%h4 Form for Rating
= form_for @rating, url: create_rating_doctor_path(@doctor) do |r|
  =r.label :score
  =r.text_field :score
  %br
  =r.label :comment
  =r.text_field :comment
  %br
  =r.submit 









