<!DOCTYPE html>
<html>
<head>
  <title>Day12Hospital</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%=link_to "Home", root_path %>
  <%=link_to "Hospitals", hospitals_path %>
  ZZZZZZZ
  <%=link_to "Doctors", doctors_path %>
  <%=link_to "Medications", medications_path %>
  
  <% if flash[:notice] %>
  <h3 id="notice"><%= flash[:notice]%></h3>
  <% end %>

  <% if flash[:error]%></h3>
  <%end%>

<%= yield %>

</body>


</html>
